In [36]:
import os
import re
import docx
import PyPDF2
import io 
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
import pandas as pd

[nltk_data] Downloading package stopwords to C:\Users\Moin
[nltk_data]     Dalvi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Moin
[nltk_data]     Dalvi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
import click._bashcomplete

In [1]:
import aspose.words as aw
output = aw.Document()

In [37]:
# Function to extract text from resume
def getText(filename):
      
    # Create empty string 
    fullText = ''
    if filename.endswith('.docx'):
        doc = docx.Document(filename)
        
        for para in doc.paragraphs:
            fullText = fullText + para.text
            
           
    elif filename.endswith('.pdf'):  
        with open(filename, "rb") as pdf_file:
            pdoc = PyPDF2.PdfFileReader(filename)
            number_of_pages = pdoc.getNumPages()
            page = pdoc.pages[0]
            page_content = page.extractText()
             
        for paragraph in page_content:
            fullText =  fullText + paragraph
            
    else:
        import aspose.words as aw
        output = aw.Document()
        # Remove all content from the destination document before appending.
        output.remove_all_children()
        input = aw.Document(filename)
        # Append the source document to the end of the destination document.
        output.append_document(input, aw.ImportFormatMode.KEEP_SOURCE_FORMATTING)
        output.save("Output.docx");
        doc = docx.Document('Output.docx')
        
        for para in doc.paragraphs:
            fullText = fullText + para.text
        fullText = fullText[79:]
         
    return (fullText)

In [38]:
# Function to remove punctuation and tokenize the text
def tokenText(extText):
   
    # Remove punctuation marks
    punc = '''!()-[]{};:'"\,.<>/?@#$%^&*_~'''
    for ele in extText:
        if ele in punc:
            puncText = extText.replace(ele, "")
            
    # Tokenize the text and remove stop words
    stop_words = set(stopwords.words('english'))
    puncText.split()
    word_tokens = word_tokenize(puncText)
    TokenizedText = [w for w in word_tokens if not w.lower() in stop_words]
    TokenizedText = []
  
    for w in word_tokens:
        if w not in stop_words:
            TokenizedText.append(w)
    return(TokenizedText)

In [39]:
# Define key terms dictionary for fixing Role Applied for 
terms = {'WorkDay ERP':['workday', 'workday consultant', 'workday hcm', 'eib', 'picof', 
                        'workday studio','nnbound/outbound integrations'],
         'Peoplesoft':['peoplesoft', 'pia','ccb','birt','peci','ccw','pum','people tools',
                        'peoplesoft implementation','peoplesoft components',
                        'peoplesoft dba','peoplesoft admin','peoplesoft admin/dba','peopleSoft fscm', 
                        'peopletoolsupgrade','peopletools upgrade','process scheduler servers',
                        'peoplesoft hrms','peopleSoft consultant','peopledoft cloud',
                        'PeopleSoft migrations','eoplesoft Testing Framework','pure internet architecture'],             
         'Database Developer':['sql','sql server', 'ms sql server','msbi', 'sql developer', 'ssis','ssrs',
                        'ssms','t-sql','tsql','Razorsql', 'razor sql','triggers','powerbi','power bi',
                        'oracle sql', 'pl/sql', 'pl\sql','oracle', 'oracle 11g','oledb','cte','ddl',
                        'dml','etl','mariadb','maria db'],
         'Java Developer':['reactjs', 'react js', 'react js developer', 'html', 
                        'css3','xml','javascript','html5','boostrap','jquery', 'redux','php', 'node js',
                        'nodejs','apache','netbeans','nestjs','nest js','react developer','react hooks',
                        'jenkins']}

In [40]:
# List of all key terms to indicate skillset. Include all the key words in the list 
allTerms = ['workday', 'hcm', 'eib', 'picof','workday hcm',
                        'workday studio','nnbound/outbound integrations',
                        'peoplesoft', 'pia','ccb','birt','peci','ccw','pum','people tools',
                        'peoplesoft implementation','peoplesoft components',
                        'peoplesoft dba','peoplesoft admin','peoplesoft admin/dba','peopleSoft fscm', 
                        'peopletoolsupgrade','peopletools upgrade','process scheduler servers',
                        'peoplesoft hrms','peopleSoft consultant','peopledoft cloud',
                        'PeopleSoft migrations','eoplesoft Testing Framework','pure internet architecture',
                        'sql','sql server', 'ms sql server','msbi', 'sql developer', 'ssis','ssrs',
                        'ssms','t-sql','tsql','Razorsql', 'razor sql','triggers','powerbi','power bi',
                        'oracle sql', 'pl/sql', 'pl\sql','oracle', 'oracle 11g','oledb','cte','ddl',
                        'dml','etl','mariadb','maria db','reactjs', 'react js', 'react js developer', 'html', 
                        'css3','xml','javascript','html5','boostrap','jquery', 'redux','php', 'node js',
                        'nodejs','apache','netbeans','nestjs','nest js','react developer','react hooks',
                        'jenkins']

In [41]:
# Function to extract Name and contact details
def contactDetails(Text):
    name = ''  
    for i in range(0,3):
        name = " ".join([name, Text[i]])
    return(name)

In [42]:
# Function to extract experience details
def expDetails(Text):
    global sent
   
    Text = Text.split()
   
    for i in range(len(Text)-2):
        Text[i].lower()
        
        if Text[i] ==  'years':
            sent =  Text[i-2] + ' ' + Text[i-1] +' ' + Text[i] +' '+ Text[i+1] +' ' + Text[i+2]
            l = re.findall('\d*\.?\d+',sent)
            for i in l:
                a = float(i)
            return(a)
            return (sent)

In [43]:
# Function to extract skill set details
def skillSet(Text):
    t = []
    for i in range(len(Text)):
        if Text[i] in allTerms:
            if Text[i] in t:
                continue
            t.append(Text[i]) 
    return(t)

In [44]:
# Create an empt Data Frame ResumeText with two columns
ResumeText = pd.DataFrame([], columns=['Name', 'Exp_years', 'SkillSet','TextInfo'])

# Mention the path in your computer where resumes folder is stored
path = 'C:/Users\Moin Dalvi\Documents\Data Science Material\Projects\Resume Classification/Resumes'
text =[]
role = []

# Search the directory path and loop through the resume documents and callthe function getText
for folder in os.listdir(path):
    folder_path = os.path.join(path, folder)
    for file in os.listdir(folder_path):
        file_path = os.path.join(folder_path, file)
        extText = getText(file_path)
        #print(type(extText))
        tokText = tokenText(extText)
        #print(extText)
        role.append(folder)
        Name = contactDetails(tokText)
        experience = expDetails(extText)
        skills = skillSet(tokText)
        NewRow = [Name,experience, skills,tokText]  
        ResumeText.loc[len(ResumeText)] = NewRow
ResumeText['RoleApplied'] = role

In [34]:
ResumeText

,Name,Exp_years,SkillSet,TextInfo,RoleApplied
0,Name Ravali P,NaN,[],"[Name, Ravali, P, Curriculum, Vitae, Specializ...",Internship
1,SUSOVAN BAG Seeking,NaN,[],"[SUSOVAN, BAG, Seeking, challenging, position,...",Internship
2,Anubhav Kumar Singh,NaN,[],"[Anubhav, Kumar, Singh, To, work, globally, co...",Peoplesoft Admin
3,Evaluation Only Created,7.0,[],"[Evaluation, Only, Created, AsposeWords, Copyr...",Peoplesoft Admin
4,Evaluation Only Created,4.0,[],"[Evaluation, Only, Created, AsposeWords, Copyr...",Peoplesoft Admin
...,...,...,...,...,...
74,Evaluation Only Created,4.0,[workday],"[Evaluation, Only, Created, AsposeWords, Copyr...",Workday
75,Seeking suitable positions,4.0,[workday],"[Seeking, suitable, positions, Workday, HCM, T...",Workday
76,WORKDAY | HCM,6.0,[workday],"[WORKDAY, |, HCM, |, FCMName, :, Kumar, SSRole...",Workday
77,Evaluation Only .,5.3,[],"[Evaluation, Only, ., Created, Aspose.Words, ....",Workday
78,Vinay kumar v,4.2,[workday],"[Vinay, kumar, v, Workday, Functional, Consult...",Workday

In [16]:
ResumeText.head(50)

,Name,Exp_years,SkillSet,TextInfo,RoleApplied
0,Name Ravali P,NaN,[],"[Name, Ravali, P, Curriculum, Vitae, Specializ...",Internship
1,SUSOVAN BAG Seeking,NaN,[],"[SUSOVAN, BAG, Seeking, challenging, position,...",Internship
2,Anubhav Kumar Singh,NaN,[],"[Anubhav, Kumar, Singh, To, work, globally, co...",Peoplesoft Admin
3,Profile Summary :,7.00,[],"[Profile, Summary, :, 7+, years, experience, i...",Peoplesoft Admin
4,PeopleSoft Database Administrator,4.00,[],"[PeopleSoft, Database, Administrator, Gangared...",Peoplesoft Admin
5,MuraliExperience Summary I,6.00,[],"[MuraliExperience, Summary, I, 6, years, exper...",Peoplesoft Admin
6,"Priyanka Ramadoss61/46 ,",2016.00,[],"[Priyanka, Ramadoss61/46, ,, MountPleasant, ,,...",Peoplesoft Admin
7,PROFILE SUMMARYI overall,NaN,[],"[PROFILE, SUMMARYI, overall, 6.8, years, ’, ex...",Peoplesoft Admin
8,PEOPLESOFT AdministratorSRINIVASK Experience,10.00,[],"[PEOPLESOFT, AdministratorSRINIVASK, Experienc...",Peoplesoft Admin
9,PeopleSoft AdminVARKALA VIKASCareer,4.20,[],"[PeopleSoft, AdminVARKALA, VIKASCareer, Object...",Peoplesoft Admin
10,Vinod Akkala PeopleSoft,NaN,[],"[Vinod, Akkala, PeopleSoft, DBA, Admin, Profes...",Peoplesoft Admin
11,PeopleSoft Admin/PeopleSoft DBAGanesh,4.40,[],"[PeopleSoft, Admin/PeopleSoft, DBAGanesh, Alla...",Peoplesoft DBA
12,PeopleSoft Administration Vivekanand,7.50,[],"[PeopleSoft, Administration, Vivekanand, Sayan...",Peoplesoft DBA
13,Arun Venu EXPERIENCE,NaN,[],"[Arun, Venu, EXPERIENCE, SUMMARY, Experience, ...",Peoplesoft Finance
14,Experience Summary41 years-,2.00,[],"[Experience, Summary41, years-, Experience, De...",Peoplesoft Finance
15,Rahul Ahuja --,10.20,[],"[Rahul, Ahuja, --, --, --, --, --, --, --, --,...",Peoplesoft Finance
16,Having 46 years,4.60,[],"[Having, 46, years, experience, PeopleSoft, ap...",Peoplesoft FSCM
17,Having 46 years,4.60,[],"[Having, 46, years, experience, PeopleSoft, ap...",Peoplesoft FSCM
18,CAREER OBJECTIVE Pursuing,NaN,[],"[CAREER, OBJECTIVE, Pursuing, Peoplesoft, Exec...",Peoplesoft FSCM
19,R Ahmed PeopleSoft,3.20,[],"[R, Ahmed, PeopleSoft, Technical, Consultant, ...",Peoplesoft FSCM
20,Tanna Sujatha OBJECTIVESeeking,3.60,[],"[Tanna, Sujatha, OBJECTIVESeeking, challenging...",Peoplesoft FSCM
21,C O N,3.20,[],"[C, O, N, T, A, C, T, :, Address, :, Manyata, ...",Peoplesoft FSCM
22,Kanumuru Deepak ReddyCAREER,2.00,[],"[Kanumuru, Deepak, ReddyCAREER, OBJECTIVE, :, ...",React Developer
23,HARIPRIYA BATTINA Experience,NaN,[],"[HARIPRIYA, BATTINA, Experience, UI, Developer...",React Developer
24,KAMALAKAR REDDY .,3.00,[],"[KAMALAKAR, REDDY, ., A, Linked, In, https//ww...",React Developer
25,Naveen SadhuTitle :,NaN,[],"[Naveen, SadhuTitle, :, software, developer, L...",React Developer
26,PROFILESearching opportunity bring,3.00,[oracle],"[PROFILESearching, opportunity, bring, 3+, yea...",React Developer
27,PRAGNYA PATTNAIK Expertise,2.00,[],"[PRAGNYA, PATTNAIK, Expertise, :, Having, arou...",React Developer
28," 204 ,",3.00,[],"[, 204, ,, Sri, geethika, prestige, ,, road, ...",React Developer
29,Thirupathamma BallaSUMMARY:28 year,NaN,[],"[Thirupathamma, BallaSUMMARY:28, year, IT, exp...",React Developer
30,Maryala Vinay ReddyProfessional,2.00,[],"[Maryala, Vinay, ReddyProfessional, Summary, :...",React Developer
31,Ui-Developer/ React JS,3.20,[redux],"[Ui-Developer/, React, JS, Developer, NAME, :,...",React Developer
32,Ui-Developer/ React JS,3.20,[redux],"[Ui-Developer/, React, JS, Developer, NAME, :,...",React Developer
33,CURRICULUM VITAEThis document,NaN,[],"[CURRICULUM, VITAEThis, document, truncated, c...",React JS Developer
34,Kotani Durga PrasadObjective,3.10,[],"[Kotani, Durga, PrasadObjective, :, Aspirant, ...",React JS Developer
35,Venkatalakshmi PedireddySoftware DeveloperExp...,NaN,[],"[Venkatalakshmi, PedireddySoftware, DeveloperE...",React JS Developer
36,KAMBALA SAI SURENDRA,NaN,[],"[KAMBALA, SAI, SURENDRA, Mandepeta, SUMMARY, P...",React JS Developer
37,MAREEDU LOKESH BABUPROFESSIONAL,2.00,[],"[MAREEDU, LOKESH, BABUPROFESSIONAL, OVERVIEW, ...",React JS Developer
38,MAREEDU LOKESH BABUPROFESSIONAL,2.00,[],"[MAREEDU, LOKESH, BABUPROFESSIONAL, OVERVIEW, ...",React JS Developer
39,MD KHIZARUDDIN RAUF,NaN,[],"[MD, KHIZARUDDIN, RAUF, EXPERIENCE, ⇨, Current...",React JS Developer
40,Page | 1,2.40,[],"[Page, |, 1, Name, :, M, Prabakaran, Title, :,...",React JS Developer
41,Pranish Sonone Career,2.00,[],"[Pranish, Sonone, Career, summaryExperience, 1...",React JS Developer
42,Ranga Gaganam Having,1.00,[],"[Ranga, Gaganam, Having, 1+, years, successful...",React JS Developer
43,SHAIK ABDUL SHARUK,NaN,[],"[SHAIK, ABDUL, SHARUK, 2, years, ’, Experience...",React JS Developer
44,ANIL KUMAR MADDUKURI,2.40,[],"[ANIL, KUMAR, MADDUKURI, SQL, &, MSBI, Develop...",SQL Developer
45,Aradhana TripathiCurrent Location,4.00,[triggers],"[Aradhana, TripathiCurrent, Location, :, Gachi...",SQL Developer
46,BUDDHA VAMSI CAREER,2.11,[],"[BUDDHA, VAMSI, CAREER, OBJECTIVE, :, Have, 21...",SQL Developer
47,KAMBALLA PRADEEP SYNOPSISLooking,2.80,[triggers],"[KAMBALLA, PRADEEP, SYNOPSISLooking, forward, ...",SQL Developer
48, Hyderabad Nazeer,2.60,[],"[, Hyderabad, Nazeer, BashaSQL, Power, BI, De...",SQL Developer
49,ResumeName Neeraj MishraHaving,NaN,"[triggers, oracle, sql]","[ResumeName, Neeraj, MishraHaving, 3, year, 6,...",SQL Developer

In [45]:
ResumeText.TextInfo[40]

['Page',
 '|',
 '1',
 'Name',
 ':',
 'M',
 'Prabakaran',
 'Title',
 ':',
 'UI',
 'Developer',
 'PROFESSIONAL',
 'SUMMARY',
 '●',
 '24+',
 'years',
 'Professional',
 'IT',
 'experience',
 'software',
 'developer',
 'knowledge',
 'different',
 'UI',
 'based',
 'Application',
 '●',
 'Hands',
 'experience',
 'HTML',
 ',',
 'CSS',
 ',',
 'JS',
 ',',
 'ReactJS',
 '●',
 'Hands',
 'experience',
 'handling',
 'UI',
 'interaction',
 ',',
 'Design',
 'methodology',
 '●',
 'Handling',
 'In',
 '-App',
 'purchase',
 ',',
 'uploading',
 'maintaining',
 'apps',
 'play',
 'store',
 '●',
 'Hands',
 'experience',
 'customization',
 'base',
 '-product',
 'depends',
 'client',
 'requirement',
 '●',
 'Cohesive',
 'team',
 'worker',
 ',',
 'strong',
 'analytical',
 ',',
 'problem',
 'solving',
 'interpersonal',
 'skills',
 'EDUCATION',
 '●',
 'Completed',
 '2017',
 'Bachelor',
 'Technology',
 '(',
 'ECE',
 ')',
 ',',
 'PRIST',
 'University',
 ',',
 'Tamil',
 'Nadu',
 '●',
 'Completed',
 '2012',
 'Higher',
 'Secondary',
 ',',
 'Mount',
 'Park',
 'Hr',
 'Sec',
 'School',
 ',',
 'Thiyagadurgam',
 ',',
 'Tamil',
 'Nadu',
 '●',
 'Completed',
 '2010',
 'SSLC',
 ',',
 'Krishnasamy',
 'Hr',
 'Sec',
 'School',
 ',',
 'Cuddalore',
 ',',
 'Tamil',
 'Nadu',
 'SKILLS',
 'Operating',
 'System',
 'Windows',
 ',',
 'Unix',
 ',',
 'Mac',
 'Programming',
 'Languages',
 'HTML',
 ',',
 'CSS',
 ',',
 'JS',
 ',',
 'React',
 'Mobile',
 'App',
 'Development',
 'Windows',
 'Android',
 'Apps',
 'Designing',
 'Constatinant',
 'layout',
 ',',
 'Motion',
 'layout',
 'Architectural',
 'Pattern',
 'MVC',
 'IDE',
 'Android',
 'Studio',
 'Services',
 'AWS',
 'bucket',
 's3',
 'service',
 ',',
 'Bitbucket',
 'PROJECT',
 'DETAILS',
 'Project',
 '1',
 'Boomi',
 'name',
 'project',
 'e',
 '-commerce',
 'online',
 'store',
 'We',
 '’',
 'developed',
 'maintains',
 'react',
 'code',
 'Role',
 'Front',
 'End',
 'Developer',
 'Project',
 'E-commerce',
 'Technology',
 'Android',
 'Role',
 'Played',
 '●',
 'Developing',
 'applications',
 'using',
 'Technologies',
 'like',
 'React',
 'HTML',
 '●',
 'Involved',
 'Requirement',
 'Gathering',
 '●',
 'Resolving',
 'client',
 'given',
 'queries',
 '●',
 'Communicating',
 'team',
 'adding',
 'features',
 '●',
 'Performed',
 'Restful',
 'API',
 'services',
 'using',
 'volley']

In [17]:
ResumeText.to_csv('Details_Extracted.csv', index = False)